{% extends 'dash.html' %}



{% block body %}


{% if p.is_verified %}
<section>
    <div class="info grid grid-cols-2 md:grid-cols-3 gap-2">
        <div class="bg-green-300 card p-3 rounded-md shadow flex flex-col items-center justify-center">
            <h2 class="text-gray-600 text-md">Earnings</h2>
            <p class="text-2xl text-gray-900">{{p.balance}}</p>
        </div>


        <div class="bg-green-300 card p-3 rounded-md shadow flex flex-col items-center justify-center">
            <h2 class="text-gray-600 text-md">Balance</h2>
            <p class="text-2xl text-gray-900">100</p>
        </div>


        <div class="card p-3 bg-yellow-300 rounded-md shadow flex flex-col items-center justify-center">
            <h2 class="text-gray-600 text-md"> Total Refers</h2>
            <p class="text-2xl text-gray-900">{{r}}</p>
        </div>


        <div class="card p-3 bg-blue-300 rounded-md shadow flex flex-col items-center justify-center">
            <h2 class="text-gray-600 text-md">Total teams</h2>
            <p class="text-2xl text-gray-900">{{p.total_team}}</p>
        </div>

        <div class="card p-3 bg-purple-300 rounded-md shadow flex flex-col items-center justify-center">
            <h2 class="text-gray-600 text-md">Refer link</h2>
            <p class="text-2xl text-gray-900">{{p.refer_link}}</p>
        </div>


    </div>



    
        


</section>

{% else %}

<section class="flex h-screen items-center justify-center">

<div class="m-3 p-5 shadow bg-white rounded-lg">
<h1 class="font-bold-bold my-3 text-cyan-800 text-xl">
Active your account with Bkash/Nagad/Rocket
</h1>

<p class="text-gray-700 text-sm">
Thanks for creating account on cs group. Before start earnings you need to active your account by recharge 100 taka. click the button below.
</p>
<a href="/active">
<button class="p-2 w-full bg-cyan-800 mt-2 rounded-md hover:ring text-white">Active account</button>
</a>
</section>

{% endif %}

{% endblock %}
