{% extends 'dash.html' %}


{% block body %}

    <div class="container mx-auto p-4">
   <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
    A fee of 5% will be deducted from each withdrawal transaction.</div>
        <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-6">Withdraw Payment</h2>

            {% if pr.balance < 100 %}

            <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
                <span class="font-medium">Hey!</span> You can withdraw your money when your balance is 100 taka or more.
              </div>

              {% else %}
            <form method="POST" action="/fund-withdraw" class="space-y-4">
               {% csrf_token %}
                <div>
                    <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                    <input type="number" id="amount" name="amount" min="1" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter amount">
                </div>
                <div>
                    <label for="method" class="block text-sm font-medium text-gray-700">Withdrawal Method</label>
                    <select id="method" name="method" class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option selected disabled>Select method</option>
                        <option value="bkash">Bkash</option>
                      
                        <option value="nagad">Nagad</option>
                        <option value="rocket">Rocket</option>
                    </select>
                </div>
                
                <div>
                    <label for="number" class="block text-sm font-medium text-gray-700">Bkash/Nagad Number</label>
                    <input type="number" id="number" name="number" min="1" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter bkash/nagad number">
                </div>
                
                
                
                
                <div>
                    <button type="submit" class="w-full py-2 px-4 bg-cyan-700 text-white font-semibold rounded-md shadow-md hover:bg-cyan-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Withdraw</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="overflow-x-auto max-w-lg mx-auto mt-8 bg-white p-8 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-6">Withdrawal History</h2>
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600">Date</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600">Amount</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600">Method</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600">Status</th>
                        <th class="py-2 px-4 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600">Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in ww %}
                    <tr>
                        <td class="py-2 px-4 border-b border-gray-200 text-sm">{{w.created_at|date:"Y-m-d"}}</td>
                        <td class="py-2 px-4 border-b border-gray-200 text-sm">{{w.amount}}</td>
                        <td class="py-2 px-4 border-b border-gray-200 text-sm">{{w.method}}</td>
                        <td class="py-2 px-4 border-b border-gray-200 text-sm">
                            {% if w.status %}
                            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Complete</span>
                            {% else %}
                
                            <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Pending</span>
                            {% endif %}
                         
                        </td>
                        <td class="py-2 px-4 border-b border-gray-200 text-sm">{{w.number}}</td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
