{% extends 'dash.html' %}



{% block body %}

<section class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">Customer Support</h1>
        <p class="text-gray-600 mb-6">If you need assistance, please contact us on WhatsApp.</p>
        <a href="https://wa.me/01995185514" class="inline-block bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
            Contact Us on WhatsApp
        </a>
    </div>
    
</section>


{% endblock %}